* {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-size: 17px;
  line-height: 1.3em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  background-color: transparent;
  overflow: scroll;
  height: 100%; }

.main-nav {
  width: 200px;
  display: inline-block;
  position: fixed;
  z-index: 100; }

.main-container {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 220px;
  top: 154px;
  position: relative; }
