html {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}
a {
	list-style-type: none;
	text-decoration: none;
	color: #fff;
}

a:visited, a:active, a:focus {
	text-decoration: none;
}


body {
	font-size: 17px;
	line-height: 1.3em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	background-color: transparent;
	background: url(../images/homeimg.jpg) no-repeat left fixed;
	overflow: scroll;
	height: 100%;
	color: white;
}


.main-nav {
	width: 200px;
	display: inline-block;
	position: fixed;
	z-index: 100;
	li {
		margin-bottom: 8px
	}
	a {
		padding: 0 0 10px 16px;
	}
}

.main-container {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 220px;
	top: 154px;
	position: relative; }

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -56px;

}

.div-block {
	height: 22px;
	background-color: #33ccff;
	vertical-align: middle;
	width: 4px;
	display: inline-block;
}

footer {
	font-size: 12px;
	width: 100%;
	position: relative;
	bottom: 0;
	left: 0;
	background-color: #3b4861;
}

#logo {
	margin: 20px 0 68px 20px;
}

#home {
	background-size: cover;
	height: 100vh;
}
